<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CSS - Flexbox Review</title>
    <link rel="stylesheet" href="/css/flexbox.css">
  </head>
  <body>
    <!-- Example: 1 -->
    <article>
      <h2>Title</h2>
      <p>paragraph here....</p>
      <div>
        <a href="">links</a>
        <a href="">links</a>
        <a href="">links</a>
        <a href="">links</a>
      </div>
    </article>

    <!-- Example: 2 -->
    <section class="parent">
      <div class="child-A">A</div>
      <div class="child-B">B</div>
      <div class="child-C">C</div>
      <div class="child-D">D</div>
      <div class="child-E">E</div>
    </section>
  </body>
</html>
