<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo: Tweet</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="css/normalize.css" type="text/css"> -->
  <link rel="stylesheet" href="css/tweet-demo.css" type="text/css">
</head>
<body>
  <!-- Header Starts -->
  <header class="header-main hightlight mobile">
    <img src="images/logo-tweeet.png" alt="tweet logo" class="logo"/>
    <div class="header-profile">
      <h2 class="profile-name" id="main-title">FirstName LastName</h2>
      <img src="images/avatar-astronaut.jpg" alt="astronaut avatar" class="profile-image"/>
    </div>
  </header>
  <!-- Header Ends -->

  <h1 id="orange" class="purple">Headline Text Here</h1>

  <!-- Section: Add New Tweet -->
  <section>
    <h2 class="page-title">Add New Tweet</h2>
    <form>
      <label>What are you humming about?</label>
      <textarea name="text"></textarea>
      <div>
        <button>Tweet</button>
        <output>140</output>
      </div>
    </form>
  </section>
  <!-- End of Section: Add New Tweet -->

  <!-- Section: Tweets -->
  <section>
    <h2>Tweets</h2>
    <!-- Tweet Content -->
    <div>
      <!-- Tweet Card 1 -->
      <div>
        <!-- Tweet Body -->
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione corporis sed rem eligendi nam molestiae blanditiis ab porro non doloremque, numquam ex accusantium, nulla sequi omnis nemo aliquam fuga. Odit.</p>
        </div>
        <!-- Tweet Footer -->
        <div>
          <img src="/images/avatar-astronaut.jpg" alt="avatar astronaut">
          <div>
            <span>@HandleName</span>
            <span>22 September 2021</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Section: Tweets -->
</body>
</html>
