$primary-bg-color: #ecedf0;
$border-width: 1px;
$border-type: solid;
$border-color: #e1e5eb;
$border: $border-width $border-type $border-color;

// Breakpoints
$bp-mobile: 350px;
$bp-tablet: 760px;

// Font Styles
// Shared Styles
